swagger: "2.0"
info:
  version: "1.0"
  title: "status OpenAPI"
  contact:
    email: "chris@cbrgm.net"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "cbrgm.net"
basePath: "/"
tags:
  - name: "subscribers"
    description: "provides endpoints to subscribe to the instance e.g. others to us"
  - name: "subscribtions"
    description: "provides endpoints to subscribe to remote instances e.g. we to others"
  - name: "status"
    description: "provides endpoints to interact with an instance status"
schemes:
  - "https"
paths:
  /status:
    post:
      tags:
        - "status"
      summary: "add a new status to the instance"
      operationId: "addStatus"
      parameters:
        - in: "formData"
          name: "media"
          type: "file"
          description: "The media to upload"
      produces:
        - "application/json"
      consumes:
        - "multipart/form-data"
      responses:
        200:
          description: "OK"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
    get:
      tags:
        - "status"
      summary: "get the current status to the instance"
      operationId: "getStatus"
      produces:
        - "application/json"
      responses:
        200:
          description: "OK"
          schema:
            type: array
            items:
              $ref: "#/definitions/ProfileStatus"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
  /notifications:
    post:
      tags:
        - "status"
      summary: "allows remote instances to post their status to our instance"
      operationId: "notify"
      parameters:
        - in: "body"
          name: "body"
          description: "Remote instances can post to this endpoint to send their status to us"
          required: true
          schema:
            $ref: "#/definitions/ProfileStatus"
      produces:
        - "application/json"
      consumes:
        - "application/json"
      responses:
        200:
          description: "OK"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
  /subscribers:
    post:
      tags:
        - "subscribers"
      summary: "subscribes to the instance"
      operationId: "addSubscriber"
      parameters:
        - in: "body"
          name: "body"
          description: "User information that needs to be added to our subscribers list"
          required: true
          schema:
            $ref: "#/definitions/Profile"
      produces:
        - "application/json"
      consumes:
        - "application/json"
      responses:
        200:
          description: "OK"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
    delete:
      tags:
        - "subscribers"
      summary: "subscribes to the instance"
      operationId: "removeSubscriber"
      parameters:
        - in: "body"
          name: "body"
          description: "User information that needs to be removed from our subscribers list"
          required: true
          schema:
            $ref: "#/definitions/Profile"
      produces:
        - "application/json"
      consumes:
        - "application/json"
      responses:
        200:
          description: "OK"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
  /subscribtions:
    post:
      tags:
        - "subscribtions"
      summary: "subscribes to a remote instance"
      operationId: "addSubscription"
      parameters:
        - in: "body"
          name: "body"
          description: "User information that needs to be added to our subscriptions list"
          required: true
          schema:
            $ref: "#/definitions/Profile"
      produces:
        - "application/json"
      consumes:
        - "application/json"
      responses:
        200:
          description: "OK"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
    delete:
      tags:
        - "subscribtions"
      summary: "unsubscribe from a remote  instance"
      operationId: "removeSubscription"
      parameters:
        - in: "body"
          name: "body"
          description: "User information that needs to be removed from our subscriptions list"
          required: true
          schema:
            $ref: "#/definitions/Profile"
      produces:
        - "application/json"
      consumes:
        - "application/json"
      responses:
        200:
          description: "OK"
        401:
          description: "unauthorized"
        500:
          description: "internal server error"
definitions:
  Profile:
    description: "Profile describes a connection between two instances."
    type: "object"
    properties:
      url:
        type: "string"
        example: "foo.bar.com"
  ProfileStatus:
    description: "SubscriberDetails describes a new subscriber who wants to get updates from the instance"
    type: "object"
    properties:
      alias:
        type: "string"
        example: "John Wick"
      url:
        type: "string"
        example: "foo.bar.com"
      status:
        type: array
        items:
          $ref: '#/definitions/StatusItem'
  StatusItem:
    description: "SubscriberDetails describes a new subscriber who wants to get updates from the instance"
    type: "object"
    properties:
      id:
        type: "string"
        format: "uuid"
      media:
        type: "string"
        example: "https://foo.bar.com/myimg.png"
      caption:
        type: "string"
        example: "My super cool picture"